<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h2>Dwaipayan Dasgupta</h2>
				<p>Research Scientist</p>
      </header>
				<h3>Education</h3>
				<p>Ph.D., Chemical Engineering</br>University of Massachusetts, Amherst, 2016</br>
				   M. Tech., Chemical Engineering</br>Indian Instute of Technology Bombay, India, 2008</br>
					 B. Engg., Chemical Engineering</br>Jadavpur University, India, 2006</p>
				<h3>Research</h3>
				<p>Computational material science, Multiscale modeling, System identification and process control</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/dd_bw.jpg" alt="" />
    </span>
  </section>
